[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
structlog = "*"
pyarrow = "*"
fastapi = "*"
uvicorn = "*"
gcsfs = "*"
praw = "*"
pandas = "*"
psycopg2-binary = "*"

[dev-packages]
ipykernel = "*"
black = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
